# ch03. 데이터 구조

## 1절 리스트

## 1.1 리스트 만들기

- []를 이용해서 만들며, 여러개 값을 하나의 변수에 저장/관리 할 수 있음. list() 함수 이용도 가능 
- index: 각 요소의 위치. 인덱스는 0부터 시작. 맨 마지막 index는 -1
- 슬라이싱: 부분 데이터셋을 뽑아 내는 것. index를 이요해서 쓰기와 읽기를 지원

In [6]:
fruits =['banana','apple','orange','grape']
type(fruits)

list

In [8]:
print(fruits)

['banana', 'apple', 'orange', 'grape']

In [9]:
print(fruits[0])

banana

In [10]:
for fruit in fruits : 
    print(fruit)

banana
apple
orange
grape

In [12]:
# range(from, to, by); from부터 to 바로 앞까지 by식 증가되면서 만들어진 list 
   # from생략시 0부터 / by생략시 1씩
list(range(6))

[0, 1, 2, 3, 4, 5]

In [13]:
list(range(0,10,2))  #0부터10까지 2씩 증가

[0, 2, 4, 6, 8]

In [16]:
list(range(10,-1,-2)) #10부터-1까지 2씩 감소  (-1로해야 0이 출력됨)

[10, 8, 6, 4, 2, 0]

In [18]:
for i in range(5):
    print(i, end='\t')

0	1	2	3	4

In [22]:
# 0번째: banana... Len(fruits): fruits 요소의 갯수 
for idx in range(len(fruits)):
    print('{}번째:{}'.format(idx,fruits[idx]))             #####복습#######

0번째:banana
1번째:apple
2번째:orange
3번째:grape

In [26]:
numbers = [1,2,3,True,'5']

In [27]:
numbers

[1, 2, 3, True, '5']

In [30]:
# 2차원 리스트 
numbers_2d= [[1,2,3,4,5],[10,20,30,40,50],[1,3,5,6,7,9],[2,4,6,8,10]]
print(numbers_2d)

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [1, 3, 5, 6, 7, 9], [2, 4, 6, 8, 10]]

In [32]:
numbers_2d[1][0]  #1번째방의 0번째 숫자  1번째방: [10, 20, 30, 40, 50]

10

In [53]:
for row in numbers_2d:
       for data in row :
            print(data, end='\t')
       print() #개행                           #############들여쓰기가 맞아야! 아니면 출력이 안됨

1	2	3	4	5
10	20	30	40	50
1	3	5	6	7	9
2	4	6	8	10

In [56]:
for i in range(len(numbers_2d)):  #Len(numbers_2d)=4
    for j in range(len(numbers_2d[i])):
        print("{}행{}열:{:>2}".format(i,j,numbers_2d[i][j]), end='\t')
    print()

0행0열: 1	0행1열: 2	0행2열: 3	0행3열: 4	0행4열: 5
1행0열:10	1행1열:20	1행2열:30	1행3열:40	1행4열:50
2행0열: 1	2행1열: 3	2행2열: 5	2행3열: 6	2행4열: 7	2행5열: 9
3행0열: 2	3행1열: 4	3행2열: 6	3행3열: 8	3행4열:10

# 1.2 기본 정보 조회

In [8]:
numbers = [1,2,3,4,5]
numbers_2d = [[1000,2,3,4,5],
             [10,20,30,40,50],
             [1,3,5,7,9],
             [2,4,6,8,10]]

In [9]:
#요소 수
print('numers의 요소수:',len(numbers))
print('numbers_2d의 요소수:',len(numbers_2d))

numers의 요소수: 5
numbers_2d의 요소수: 4

In [10]:
# 최소값 min, 최대값 max
min(numbers), max(numbers)

(1, 5)

In [12]:
#2차원 리스트에서는 max()함수는 부분 리스트 중 '첫 요소'가 '가장 큰'   값을 갖는 리스트를 반환 
#                   min()함수는 부분 리스트 중 '첫 요소'가 '가장 작은' 값을 갖는 리스트를 반환
min(numbers_2d), max(numbers_2d)

([1, 3, 5, 7, 9], [1000, 2, 3, 4, 5])

In [ ]:
#  요소 추가

In [ ]:
# + 두 리스트를 연결
# * 리스트를 곱한 수 만큼 반복 
# append() 요소를 맨뒤에 추가
# extend() 리스트를 요소별로 맨 뒤에 추가
# insert() 지정된 index 위치에 삽입

In [14]:
numbers = [1,2,3,4,5]
numbers = numbers + numbers #리스트 연결
numbers

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [15]:
numbers =[1,2,3]
print(numbers*3) #반복

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [16]:
print('ABC'*3)

ABCABCABC

In [17]:
# append()함수 이용
numbers = [1,2,3]
numbers.append(4) #요소의 맨 뒤에 추가 
numbers

[1, 2, 3, 4]

In [19]:
# extend() 
numbers =[1,2,3]
num     =[4,5,6]
numbers.extend(num)   #numbers에서 num을 집어넣어서 확장
numbers

[1, 2, 3, 4, 5, 6]

In [20]:
numbers.extend('Hello') #numbers에서 Hello를 집어넣어서 확장 
numbers

[1, 2, 3, 4, 5, 6, 'H', 'e', 'l', 'l', 'o']

In [21]:
# insert(idx, 추가할 내용): idx번째 인덱스에 추가할 내용 삽입 
numbers = [1,2,3,4,5]
numbers.insert(1,'xx')
numbers

[1, 'xx', 2, 3, 4, 5]

## 1.4 인덱싱

- count(); 리스트에서 데이터의 갯수 반환 
- index(); 해당 요소의 위치 반환
- [index]; 인덱스를 이용한 접근

In [22]:
numbers = [1,2,3,[1,2,3],1,2,3]  #중간에있는2는 2가 아니라 list
numbers_2d =[[1,2,3],[1,2,3]]
print(numbers)
print(numbers_2d)

[1, 2, 3, [1, 2, 3], 1, 2, 3]
[[1, 2, 3], [1, 2, 3]]

In [23]:
numbers.count(2) #2가 몇 개 있는지    #중간에있는2는 2가 아니라 list  따라서 2는 3개(x)  2개(o)

2

In [24]:
numbers.count(9)

0

In [25]:
numbers.count([1,2,3])

1

In [26]:
numbers_2d.count(2) #여기서 2는 2가아니라 list. 따라서 2가 0개

0

In [28]:
numbers_2d.count([1,2,3] )   #[1,2,3] 2개 있음

2

In [30]:
#0번째 인덱스부터 처음 나오는 2의 인덱스
numbers.index(2)

1

In [32]:
#4번째 인덱스 이후부터 처음나오는 2의 인덱스
#numbers = [1,2,3,[1,2,3],1,2,3] 
#           0 1 2   3     4 5
numbers.index(2,4)    #4번째 인덱스 이후부터 / 처음나오는 / '2의 인덱스'

5

In [31]:
print(numbers.count(9))
print(numbers.index(9)) #index함수는 없는 값을 찾으면 에러

0

ValueError: 9 is not in list

In [33]:
numbers[7] #인덱스의 범위를 벗어나면 에러 발생

IndexError: list index out of range

## 1.5 원하는 리스트 내용만 추출; 리스트 슬라이싱- 인덱스 보다 많이 씀

-[from: to : by];  from부터 to바로 앞까지 by번 증가하는 index 아이템 추출
                    from,to,by  생략 가능
                    인덱스는 음수 가능

In [34]:
numbers = [1,2,3,4,5]

In [36]:
numbers[2:9] #2부터 9번 인덱스 바로 앞까지 출력 (해당 index가 없을 경우 끝까지 )

[3, 4, 5]

In [38]:
numbers[::-1]   #역순

[5, 4, 3, 2, 1]

In [39]:
numbers[::] #처음부터 끝까지

[1, 2, 3, 4, 5]

In [40]:
numbers[-5:-1] #끝에5번째부터 뒤에서1번째까지

[1, 2, 3, 4]

In [ ]:
numbers[-1:-5] #-1부터 -5바로 전까지 by(1)씩 인덱스를 전진하며 인덱스

In [41]:
numbers_2d = [[1,2,3],[10,20,30],[11,12,13],[21,22,23]]
numbers_2d [1:3]

[[10, 20, 30], [11, 12, 13]]

In [42]:
numbers_2d[0][1:3]  #0번째방 중  1번째 부터 3번째 앞까지  (0번째는 1  1번째는2   2번째는3)

[2, 3]

In [ ]:
# 람다식을 이용해서 list의 원하는 데이터 액세스

In [45]:
numbers =[1,3,5,9,10,12,13,18,19,20]
#모든 데이터 다 가져오기. 
#for data in numbers:
#    print(data)
[data for data in numbers]  #numbers라는 리스트가 0번부터 끝방까지 data로 들어감.  전제적으로 []list로 감싼다

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [48]:
# 짝수 데이터만 가져오기 
#for x in numbers:
#    if x%2 == 0:
#        print(x)
[x for x in numbers]  #람다식 한줄로 끝냄 
[x for x in numbers if x%2 ==0]  #짝수만 넘겨짐

[10, 12, 18, 20]

In [49]:
#10 이상의 데이터만 가져오기 
[x for x in numbers if x>=10]

[10, 12, 13, 18, 19, 20]

In [53]:
#과일의 글씨가 5글자 이상인 과일만 추출

fruits = ['orange','apple','mango','kiwi']
#for f in fruits:
#    if len(f)>=5:
#    print(f)

[f for f in fruits if len(f)>=5]

['orange', 'apple', 'mango']

In [54]:
#리스트 값의 제곱을 추출하라
L = [1,2,3,4,5]
[x**2 for x in L]

[1, 4, 9, 16, 25]

In [55]:
#리스트 값의 세제곱을 추출하라
L = [1,2,3,4,5]
[x**3 for x in L]

[1, 8, 27, 64, 125]

In [56]:
#리스트 값의 두배의 수를 추출하라
L = [1,2,3,4,5]
[x*2 for x in L]

[2, 4, 6, 8, 10]

## 1.6요소 수정하기

In [1]:
numbers =[0,1,2,3,4,5,6,7,8,9]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
numbers[2]=222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [6]:
numbers[0:5]=[999,999,999] # 부분 리스트를 통째로 바꿈(슬라이싱)  0번째방부터 5번째방까지  3개의 999로 바꿈
numbers

[999, 999, 999, 9]

In [8]:
numbers =[0,1,2,3,4,5,6,7,8,9]  #앞에있는 0,1,2,3,4는  뒤에 있는 '5,6,7,8,9'로 대치됨 
numbers[0:5]= numbers[5:]                             ###########################5번째방 앞까지!!!!!!!!!!!!!#########
                                                        #R에서만 5번째방. R제외한 다른 언어에서는 모두 5번째방 앞까지 
numbers

[5, 6, 7, 8, 9, 5, 6, 7, 8, 9]

In [11]:
#슬라이싱에서 by를 추가
numbers =[0]*10
print('수정전:',numbers)
numbers[::2]=[99,99,99,99,99]  #짝수번째index만 수정  (0,2,4,6,8번째방)
                                    #means range selection between 0 and len(numbers) with step 2.
print('수정후:',numbers)

수정전: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정후: [99, 0, 99, 0, 99, 0, 99, 0, 99, 0]

In [12]:
#슬라이싱에서 by가 포함될 경우 바꾸려는 값의 갯수가 맞아야 함 
numbers[::2]=[11,11,11]

ValueError: attempt to assign sequence of size 3 to extended slice of size 5

## 1.7 삭제하기
- pop(): '가장 마지막 요소가 반한'되고 '삭제'. pop(n): n번째 요소가 반환되고 삭제
- remove(): remove(data) 해당 데이터가 삭제 
- del

In [16]:
numbers=[0,1,2,3,4,5,6,7,8,9]
print(numbers)
print(numbers.pop())  #맨 마지막 숫자가 삭제되고, 나머지 반환됨 
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
9
[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [14]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [17]:
print(numbers.pop(2)) 
print(numbers)

2
[0, 1, 3, 4, 5, 6, 7, 8]

In [19]:
numbers_2d = [[1,2,3],[10,20,30],[100,100,100]] #전체 괄호로 감싸야함 
print('pop전',numbers_2d)
print(numbers_2d.pop())
print('pop후',numbers_2d)

pop전 [[1, 2, 3], [10, 20, 30], [100, 100, 100]]
[100, 100, 100]
pop후 [[1, 2, 3], [10, 20, 30]]

In [22]:
numbers=[0,1,2,3,4,5,6,7,8,9]
print(numbers.remove(5))  #remove는 반환값이 없어. 따라서 none으로 나옴
print(numbers)

None
[0, 1, 2, 3, 4, 6, 7, 8, 9]

In [21]:
numbers.remove(99)#없는 값을 remove할 경우 error

ValueError: list.remove(x): x not in list

In [25]:
print(numbers)
del numbers[2] #2번째방의 숫자가 삭제됨   #변수삭제 
print(numbers)

[0, 1, 3, 4, 6, 7, 8, 9]
[0, 1, 4, 6, 7, 8, 9]

In [28]:
numbers=[0,1,2,3,4]
print('clear전:',numbers)
numbers.clear()
del numbers[:]  #0번째부터 끝번째 다 삭제 
numbers

clear전: [0, 1, 2, 3, 4]

[]

## 1.8 정렬하기

In [29]:
numbers = [9,5,1,0,6,4,2,8]
numbers.sort() #기본 정렬 오름차순. sort() 실행 후 list가 바뀜
numbers[::-1] #내림차순처럼 보이나 numbers 내림차순으로 정렬된 것이 저장되지 않음

[9, 8, 6, 5, 4, 2, 1, 0]

In [30]:
numbers   #저장은 오름차순으로 저장됨 (위에는 단지 화면에만 내림차순처럼 보여질 뿐)

[0, 1, 2, 4, 5, 6, 8, 9]

In [32]:
numbers.sort(reverse=True) #내림차순 정렬. 리스트 내용도 적용
numbers

[9, 8, 6, 5, 4, 2, 1, 0]

In [33]:
numbers.reverse() #리스트를 역순으로 변경
numbers

[0, 1, 2, 4, 5, 6, 8, 9]

In [34]:
numbers= numbers[::-1] #처음부터 끝까지 역순 #reverse()함수와 같은 명령
numbers

[9, 8, 6, 5, 4, 2, 1, 0]

## 1.9 리스트 복제

In [35]:
numbers =[6,2,7,4,10]
new_numbers = numbers #numbers에 있는 주소값이 new_numbers로 
numbers.sort() # numbers는 정렬된 데이터로 
print('정렬전 데이터:',new_numbers)
print('정렬후 데이터:',numbers)

정렬전 데이터: [2, 4, 6, 7, 10]
정렬후 데이터: [2, 4, 6, 7, 10]

In [37]:
# 복제
numbers = [6,2,7,4,10]
new_numbers = numbers.copy() # new_numbers에 number 데이터를 복제 (원래 데이터가 남아있게)
numbers.sort()
print('정렬전:', new_numbers)
print('정렬후:', numbers)
print('new_numbers주소:',id(new_numbers))
print('numbers주소', id(numbers))        # 두 변수의 주소가 다른 곳을 가르키고 있다

정렬전: [6, 2, 7, 4, 10]
정렬후: [2, 4, 6, 7, 10]
new_numbers주소: 2859945187904
numbers주소 2859945107968

In [38]:
city=['서울','부산','대구','인천','광주','울산']
city.sort()
city

['광주', '대구', '부산', '서울', '울산', '인천']

In [39]:
" ".join(city)

'광주 대구 부산 서울 울산 인천'

# 2절. 튜플
- list와 유사하지만, 읽기 전용. 수정이 필요없는 데이터타입에서 사용
- '수정이 불가'하므로 튜플에 '데이터추가, 수정, 삭제 불가.' 제공되는 함수도 많이 않음 
- ()이용해서 생성.

In [40]:
city=('서울','부산','인천','대구','대전')
type(city)

tuple

In [41]:
"-".join(city)

'서울-부산-인천-대구-대전'

In [43]:
l = ['서울']  #요소가 하나 있는 리스트 
print(type(l))
print(l)

<class 'list'>
['서울']

In [44]:
city =('서울')  #요소가 하나 있는 튜플(x)    이렇게 만들면 class가 'tuple'이 아니라 'string'
print(type(city))
print(city)

<class 'str'>
서울

In [45]:
city =('서울',)  #요소가 하나 있는 튜플(o)
print(type(city))
print(city)

<class 'tuple'>
('서울',)

In [47]:
numbers = 1,2,3 #여러개 값이 나열될 때는 자동적으로 튜플로 처리 
type(numbers)

tuple

In [48]:
numbers.insert(2,99)  #에러나는 이유: tuple은 한번 선언하면 수정불가하기 때문에

AttributeError: 'tuple' object has no attribute 'insert'

In [49]:
min(numbers), max(numbers),len(numbers)

(1, 3, 3)

In [50]:
numbers = (1,2,1,2,3)
numbers.count(2)

2

In [51]:
numbers.index(3)   #3index의 위치를 반환

4

In [53]:
data =(0,1,2,3,4,(5,6))
data[2:5]  #2번째방부터 '5번째앞'까지

(2, 3, 4)

In [54]:
data[5:9:2]       ##### 5번째 방부터 9번째방앞까지 2씩증가 (즉 5번째 방, 7번째방) (그러나 여기서 7번째방없음) #######

((5, 6),)

In [55]:
data[-1: -5: -1]    ########맨마지막부터 -5방앞까지 (즉-4방) 따라서 여기서2까지    맨마지막-1은 '역순'

((5, 6), 4, 3, 2)

In [56]:
data = ((100,0,0),(10,20,30))
max(data),min(data),len(data)

((100, 0, 0), (10, 20, 30), 2)

In [ ]:
data =(1,2,3)
data+data

In [59]:
data = ('서울',2,True)    #True이렇게 써야함. true(x) 이렇게 쓰면 인식안됨
data * 3

('서울', 2, True, '서울', 2, True, '서울', 2, True)

In [60]:
del data

# 3절. 딕셔너리
    cf. 자바에서 hashmap
- 중괄호({})를 이용해서 딕셔너리 생성. 키(key)-값(value)으로 쌍으로 구정된 자료구조 
- 키는 유일한 값 (중복허용안함). key에 list는 사용불가.
- 없는 키의 값을 참조하면 에러 발생
- 인덱스를 이용한 참조는 지원 안함

In [61]:
dic = {'key1':'value', 'key2':'value'}

In [62]:
len(dic) # 데이터 구조의 요소의 갯수

2

In [63]:
my_favorite = {'fruit':'apple', 'number':1, 'sport':'golf'}
my_favorite

{'fruit': 'apple', 'number': 1, 'sport': 'golf'}

In [64]:
my_favorite[0] #index를 이용한 참조가 지원되지 않는다.    
#순서가 없고, fruit,number,sport이렇게 있다 #access할 때 key 참조 !

KeyError: 0

In [65]:
my_favorite.get('fruit')

'apple'

In [66]:
my_favorite['fruit']

'apple'

In [67]:
my_favorite['people']    #key목록에 없는 데이터 참조시 에러

KeyError: 'people'

In [68]:
my_favorite = {'fruit':'apple', 'number':1, 'sport':'golf'}
my_favorite['fruit'] ='banana'
my_favorite

{'fruit': 'banana', 'number': 1, 'sport': 'golf'}

In [69]:
# 키: 문자, 숫자, 튜플. 중복불가
# 값: 모든 문자 타입. 중복 가능 
my_dic1 = {1:'Hello', 2:'World', 2:'Python'}   #키 값이 똑같은게 있으면 뒤에 있는 겋로 update됨 
my_dic1

{1: 'Hello', 2: 'Python'}

In [70]:
my_dic1['people'] = ['홍길동','홍길순'] #my_dic1에 요소 추가    'people': ['홍길동', '홍길순']
my_dic1['study'] = ['python','hadoop']  #추가                   'study': ['python', 'hadoop']}
my_dic1[1] = 'Hi'                                              #키값1에 있는 내용을 'Hi'로 변경 
#my_dic1.append({'people':['홍길동','홍길순'] }) 불가 
my_dic1

{1: 'Hi', 2: 'Python', 'people': ['홍길동', '홍길순'], 'study': ['python', 'hadoop']}

In [71]:
my_dic2 = {'name':'Hong', 'name':'KilDong','age':30} #키 값이 똑같은게 있으면 뒤에 있는 겋로 update됨 
my_dic2

{'name': 'KilDong', 'age': 30}

In [72]:
my_dic3 = {1:'Hello', True:'World', False:'Python', 0:'Hadoop'} #TRUE==1, FALSE==0   key값에서 이렇게 인식 
my_dic3  
#맨처음에 '1'나오고, 뒷부분은 맨처음에'FALSE' 나옴 -->  따라서 KEY값으로 먼저나오는게 나오고. 변수값으로는 나중에 나온게 UDPATE됨 
################

{1: 'World', False: 'Hadoop'}

In [76]:
#my_dic = {'name':'홍길동','age':25,'tel':'010-9999-9999'}       #딕셔너리: key값으로 접근   #튜플:index로 접근
my_list = ['홍길동',25,'010-9999-9999']
my_tupple =('홍길동',25,'010-9999-9999')
for data in my_list:
    print(data, end='\t')
print(end='\n') #개행 
for idx in range(len(my_list)):
    print("{}번째 데이터{}".format(idx,my_tupple[idx]),end='\t')

홍길동	25	010-9999-9999
0번째 데이터홍길동	1번째 데이터25	2번째 데이터010-9999-9999

In [77]:
my_dic = {'name':'홍길동','age':25,'tel':'010-9999-9999'}     
for data in my_dic:    #my_dic.keys() #키목록 나옴
    print(data,end='\t')

name	age	tel

In [78]:
my_dic.keys() #키목록

dict_keys(['name', 'age', 'tel'])

In [79]:
my_dic.values() #값들만

dict_values(['홍길동', 25, '010-9999-9999'])

In [81]:
my_dic.items() # 튜플로 이루어진 키값

dict_items([('name', '홍길동'), ('age', 25), ('tel', '010-9999-9999')])

In [84]:
for key in my_dic.keys(): #앞에 변수 내 마음대로 지정
    print(key,end='\t')

name	age	tel

In [88]:
for value in my_dic.values():
    print(value, end='\t')

홍길동	25	010-9999-9999

In [90]:
for item in my_dic.items():
    print(item)

('name', '홍길동')
('age', 25)
('tel', '010-9999-9999')

In [92]:
for key,value in my_dic.items():
    print('{}은{}.'.format(key,value), end='\t')

name은홍길동.	age은25.	tel은010-9999-9999.

**in 연산자: key가 있는지 여부 판단**          
- #markdown에서 *로 시작하면 '<' b '>' 친거랑 같음

In [93]:
my_favorite ={'fruit':'apple', 'number':1, 'sport':'golf'}  #key가 있나 없나 봄
'golf' in my_favorite

False

In [94]:
'sport' in my_favorite

True

In [97]:
my_favorite
#할당
new_my_favorite = my_favorite
print('new_my_favorite:',new_my_favorite)
print('my_favorite:',my_favorite)

new_my_favorite: {'fruit': 'apple', 'number': '다 좋아', 'sport': 'golf'}
my_favorite: {'fruit': 'apple', 'number': '다 좋아', 'sport': 'golf'}

In [96]:
my_favorite['number'] = '다 좋아'
print('new_my_favorite:',new_my_favorite)
print('my_favorite:',my_favorite)
print('my_favorite:',id(my_favorite))
print('my_favorite주소:',id(my_favorite))

new_my_favorite: {'fruit': 'apple', 'number': '다 좋아', 'sport': 'golf'}
my_favorite: {'fruit': 'apple', 'number': '다 좋아', 'sport': 'golf'}
my_favorite: 2859925627264
my_favorite주소: 2859925627264

In [95]:
my_favorite
#복제
new_my_favorite = my_favorite.copy()          #두 개의 값이 같은데. copy 
print('new_my_favorite:',new_my_favorite)
print('my_favorite:',my_favorite)

new_my_favorite: {'fruit': 'apple', 'number': 1, 'sport': 'golf'}
my_favorite: {'fruit': 'apple', 'number': 1, 'sport': 'golf'}

In [96]:
my_favorite['number'] = '다 좋아'
print('new_my_favorite:',new_my_favorite)
print('my_favorite:',my_favorite)
print('my_favorite:',id(my_favorite))
print('my_favorite주소:',id(my_favorite))

new_my_favorite: {'fruit': 'apple', 'number': '다 좋아', 'sport': 'golf'}
my_favorite: {'fruit': 'apple', 'number': '다 좋아', 'sport': 'golf'}
my_favorite: 2859925627264
my_favorite주소: 2859925627264

# 4절. 셋(set)
- 중복 허용 하지 않는 집합 (순서x)
- '중괄호({})'나  / 'set()함수'를 이용해서     -->  set생성 
    ; set(딕셔너리타입의변수): 딕셔너리변수의 키값만 set에 추가 
- 집합연산자 (&: 교집합, |: 합집합 ,  -: 차집합)

In [99]:
fruits = {'apple', 'orange','banana','banana'}
fruits   #중복허용하지 않음                     ######set은 순서가 없다

{'apple', 'banana', 'orange'}

In [100]:
s1 = set([1,2,3,1])    #중복허용하지 않음       
s1

{1, 2, 3}

In [102]:
s1.add(4)
s1.add(1)
s1

{1, 2, 3, 4}

In [104]:
s1.add( (5,6,7,8,9) )         ######set은 순서가 없다 
s1

{(5, 6, 7, 8, 9), 1, 2, 3, 4}

In [105]:
s1.add([10,11])               #add함수는 list인수를 받지 않음

TypeError: unhashable type: 'list'

In [106]:
s1.add({'name':'Kil'})        #add함수는 dictionary 인수 불가

TypeError: unhashable type: 'dict'

In [109]:
s1 = {1,2,3,4}
s1.update([5,6,7,8,9])
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [113]:
s1.update({'name': 'kildong'})  #딕셔너리는 'key값만' 추가   (value내용 안들어감)
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'name'}

In [114]:
s1.remove('name') #특정 요소 삭제 (없는 데이터일 경우 error)
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [115]:
s1 = {0,False,True,1}   #key값. 따라서 뒤에 있는 False, 뒤에 있는1이 없어짐   #False와 0, True와1을 같은 값으로 간주
s1

{0, True}

In [117]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}
s1,s2

({1, 2, 3, 4, 5, 6}, {4, 5, 6, 7, 8, 9})

In [118]:
# 합집합    (or)
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [119]:
# 교집합    (양쪽 중복된/같은 부분)
s1 & s2

{4, 5, 6}

In [120]:
# 차집합
s1 -s2

{1, 2, 3}

In [122]:
names= {'kildong','kilja','sunja'}  #이 순서 안지키고 나올 수 있음   
                                    #value만 있으면 -->set   #key,value -->dictionary 
for name in names:
    print(name,end='\t')

sunja	kildong	kilja

# 5절. enumerate
- 반복분에 index 부여
- 반복자 또는 순서 객체로 '반복문을 처리'할 때 'index 처리를 해결'  (enumerate는'반복문'에서만 쓰인다)

In [125]:
list(enumerate(names))

[(0, 'sunja'), (1, 'kildong'), (2, 'kilja')]

In [126]:
for idx, name in enumerate(names):    #반복분에 index 부여
    print('{}번째 이름:{}'.format(idx,name))

0번째 이름:sunja
1번째 이름:kildong
2번째 이름:kilja

In [130]:
L = ['길자','순자','길동']                       # [] 은 list   
for idx in range(len(L)):
    print('{}번째 이름은{}'.format(idx,L[idx]))

0번째 이름은길자
1번째 이름은순자
2번째 이름은길동

In [132]:
list(enumerate(L))

[(0, '길자'), (1, '순자'), (2, '길동')]

In [129]:
for idx, names in enumerate(L):               #idx은 몇번째 방.   names변수 선언을 여기서 함 
    print('{}번째: {}'.format(idx,names))

0번째: 길자
1번째: 순자
2번째: 길동

In [133]:
dic = {"name":"홍길동", "age":35, "address":"마포"}
list(enumerate(dic.items()))

[(0, ('name', '홍길동')), (1, ('age', 35)), (2, ('address', '마포'))]

In [137]:
for idx, (key, value) in enumerate(dic.items()):
    print("{}번째 키는{}, 값은 {}".format(idx,key,value))

0번째 키는name, 값은 홍길동
1번째 키는age, 값은 35
2번째 키는address, 값은 마포

In [ ]:
#1. 다음 코드를 실행했을 때 출력되는 것은?
#L1 = (“orange”,”apple”,”banana”,”kiwi”)
#new_list = [i for i in L1 if len(i)>5]
#print(new_list)

#출력결과: organge, banana
L1 = (“orange”,”apple”,”banana”,”kiwi”)

In [ ]:
#2. 다음 코드와 실행결과가 잘못 짝지어진 것은?
#① print(list(range(10)) - [0,1,2,3,4,5,6,7,8,9]
#② print(list(range(5,10)) - [5,6,7,8,9]
#③ print(list(range(10,0,-1))) - [9,8,7,6,5,4,3,2,1,0]  (x)  10부터1까지
#④ print(list(range(10,20,2))) – [10,12,14,16,18]

In [ ]:
#3. 다음 구문에 의해 출력되는 것은?
numbers_2d = [ [1,2,3,4,5], [10,20,30,40],[1,3,5],[2,] ]
len(numbers_2d[3])

In [ ]:
#3. 다음 구문에 의해 출력되는 것은?
#numbers_2d = [ [1,2,3,4,5], [10,20,30,40],[1,3,5],[2,] ]
#len(numbers_2d[3])       

# 3번쨰 아이의 length
#따라서 답:1

In [ ]:
#append 안됨 뒤에 list로 들어와야


#4. 다음 코드의 실행결과가 나올 수 있는 빈칸에 들어갈 함수 이름은?
#numbers = [1,2,3,4,5]
#numbers.__________([10,20,30,40,50])
#numbers
#결과 : [1,2,3,4,510,20,30,40,50]              #########3

In [ ]:
#5. 다음 구문을 실행할 때 결과는 ?
#numbers = list(range(10))
#numbers[ : : 2]= 0
# print(numbers)

#짝수번째만 0으로 뺌

In [138]:
#6. 다음 구문을 실행할 때 결과는 ?
#numbers = [0,1,2,3,4,5,6,7,8,9]
#numbers[ : : 2]= numbers[5:]
#print(numbers)

#0,2,4,6,8번째 방  숫자 변환 
# 결과:[5, 1, 6, 3, 7, 5, 8, 7, 9, 9]

numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[ : : 2]= numbers[5:]
print(numbers)

[5, 1, 6, 3, 7, 5, 8, 7, 9, 9]

In [139]:
#8. 다음 데이터에서 10을 출력할 수 없는 구문은?
#my_dic = {“a”:10, “b”:20, “c”:30}
#① my_dic[0]         (x)  이렇게 하면 key vlue인 a가 나옴  (x)  key값으로 access    //답이 하나아닌 아이도 있음, 하나도 있고 
#② my_dic[‘a’]
#③ list(my_dic.items())[0][1]
#④ list(my_dic.values())[0]
#⑤ my_dic.get(‘a’)

my_dic = {“a”:10, “b”:20, “c”:30}
my_dic[0]

SyntaxError: invalid character in identifier (<ipython-input-139-76ab1c135c26>, line 9)

In [1]:
# ch3 연습문제  p26

# 다음 리스트가 주어졌을 경우 요구사항대로 코드를 작성하시오
numbers = [1,2,3,4,5,6,7,8,9,10]


#1. 숫자 100을 맨 뒤에 추가하세요
numbers.append(100)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [2]:
#2. 다음 리스트를 numbers리스트 맨 뒤에 추가하세요

data = [200,300,400,500]
numbers.extend(data)    #()괄호 필요
print('2번 결과 :',numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]

In [3]:
#3. 처음 다섯 개 숫자만 출력하세요
numbers[0:5]

[1, 2, 3, 4, 5]

In [4]:
#4. 리스트에서 짝수 번째 데이터만 출력하세요
numbers[::2]

[1, 3, 5, 7, 9, 100, 300, 500]

In [17]:
#5. 짝수번째 데이터를 모두 0으로 바꾸세요

numbers[::2]  = [0] *len(numbers[::2] )
print(numbers)

[0, 1, 0, 3, 0, 5, 0, 7, 0, 9, 0, 11, 0, 13, 0]

In [18]:
#6. 데이터를 역순으로 나열하세요(내림차순 정렬이 아닙니다)
# 다음 딕셔너리 데이터가 주어졌을 경우 요구사항대로 코드를 작성하세요.
#member_info = {“name”:”홍길동”, “age”:20,”address”:”서울시 마포구“,“score”:90}

numbers[::-1]

[0, 13, 0, 11, 0, 9, 0, 7, 0, 5, 0, 3, 0, 1, 0]

In [54]:
#7. address값을 출력하세요
member_info = {"name":"홍길동", "age":20, "address":"서울시 마포구","score":90}
member_info['address']

'서울시 마포구'

In [55]:
#8. score 를 축력하고 member_info 딕셔너리에서 삭제하세요
member_info['score']       #질문: .pop 왜 안되는지??

90

In [56]:
#8. score 를 축력하고 member_info 딕셔너리에서 삭제하세요
del member_info['score']
print(member_info)

{'name': '홍길동', 'age': 20, 'address': '서울시 마포구'}

In [57]:
#9. Address를 “서울시 서대문구”로 변경하세요.
member_info['address'] ='서울시 서대문구'
print('9번 확인 :', member_info)

9번 확인 : {'name': '홍길동', 'age': 20, 'address': '서울시 서대문구'}

In [58]:
#10. member_info 딕셔너리 데이터의 값을 리스트로 출력하세요


list(member_info.values())

['홍길동', 20, '서울시 서대문구']