In [ ]:
#연습 문제 part 1

In [4]:
# 1 함수의 인자로 list를 받은 후 list내에 있는 모든 정수 값에 대한 '최댓값'과'최솟 값'을 리턴하는 함수를 작성



def get_max_min(data_list):
    max_val = max(data_list)
    min_val = min(data_list)
    return(max_val,min_val)

max_val,min_val = get_max_min([1,2,3,4,5])
print(max_val)
print(min_val)

5
1

In [17]:
# 1  람다식 방법
def get_max_min(data_list):
    return {'max':max(data_list),'min':min(data_list)}


get_max_min([1,2,3,4,5,6,])

{'max': 6, 'min': 1}

In [5]:
# 2. 체질량지수 (Body Mass Index, BMI)는 체중과 키를 이용해 인간의 비만도를 나타내는 지수로 아래의 수식에 의해 계산됨. 
# 함수의 인자로 

#(1)'체중(kg)과 신장(m)'을 입력 받은 후 
#(2)BMI값에 따라 '마른체형','표준','비만','고도비만' 중 하나의 생태를 출력하는 
#함수를 작성

# BMI = 체중(kg) / 신장(m)제곱
# BMI <18.5, 마른체형    18.5<=BMI<25.0 표준    25.0<=BMI<30.0 비만   BMI >=30.0 고도비만


def cal_BMI(weight,height):
    height = height * 0.01
    bmi = weight/(height*height)
    if bmi <18.5:
        print('마른체형')
    elif 18.5<=bmi<25.0:
        print('표준')
    elif 25.0<=bmi<30.0:
        print('고도비만')

        
cal_BMI(47,160)

마른체형

In [19]:
# 3 직각 삼각형의 '밑변'과 '높이'를 입력 받은 후 삼각형의 '면적과 둘레'를 계산하는 함수를 작성  
# 리턴값은 '면적과 둘레'를 동시에 리턴하게 작성
# - def get_triangle(width,height)



import math   #반드시 로드.  '모듈'
def get_triangle (width,height):
    area = (width+height)/2
    perimeter = width +height+math.sqrt(width*width + height*height)
    #return area, perimeter
    return{'넓이':area,'둘레':perimeter}

get_triangle(3,4)

                                                         ###########복습 ########################################

{'넓이': 3.5, '둘레': 12.0}

In [21]:
import math
math.sqrt(25)

5.0

In [26]:
#4. 함수의 인자로 '시작과 끝 숫자'가 주어질 때 '시작부터 끝까지의 모든 정수값의 합'을 리턴하는 함수를 작성 
#(시작과 끝값을 포함 )
# -def mysum(from,end):

def mysum(frOm,end): #from은 import를 하기 위한 예약어이므로, 변수이름으로 from을 쓸 수 없다.    :를 꼮 써야 
    sum = 0
    for i in range(frOm,end+1):
        sum += i
    return sum
mysum(5,10)

45

In [14]:
#5. 함수의 인자로 '문자열'을 포함하는 list가 입력될 때 '각 문자열의 첫 세 글자'로만 구성된 list를 리턴하는 함수를 작성
# 예를 들어 함수의 입력으로 ['Seoul','Daegu','Kwangju','Jeju']가 입력될 때  '함수의 return값'은 ['Seo','Dae','Kwa','Jej']
# def get_abbr(list):

def three_letters(datalist):
    result=[]
    for i in datalist:
        result.append(i[:3])
    return result
datalist=['Seoul','Daegu','Kwangju','Jeju']
print(three_letters(datalist))

['Seo', 'Dae', 'Kwa', 'Jej']

In [28]:
#5.  list comprehension 방법

def three_letters(datalist):
    return [x[:3] for x in datalist]

datalist=['Seoul','Daegu','Kwangju','Jeju']
print(three_letters(datalist))

['Seo', 'Dae', 'Kwa', 'Jej']

In [3]:
#6.. 다음 코드를 람다 함수 형태로 수정할 때 알맞은 코드를 작성하시오
# def f(x,y):
#    return x**y

num = lambda x,y : x**y
num(2,3)

8

In [29]:
#7  .  ex = [1,2,3,4,5]를 [1,4,9,16,25]의 결과를 얻을 수 있도록 람다함수와 map()함수를 사용하여 구현과 리스트 컴프리헨션으로 구현하시오


# map함수 이용   (즉, 람다를 써라) 
ex = [1,2,3,4,5]
list(map(lambda x: x**2, ex))  #함수 map(), 그다음 list()가 들어옴

[1, 4, 9, 16, 25]

In [30]:
# 리스트 컴프리헨션 이용 
[x**2 for x in ex]

[1, 4, 9, 16, 25]

In [12]:
#8 다음 코드를 각각 실행하면 서로 다른 결과가 나온다. 이런 결과가 나오는 이유를 서술

#a=[1,2,3]
#print(*a)

# print(a)
#[1,2,3]

"""
별표 (asterisk,*)는 함수의 인자(argument)로 사용될 때,
시퀸스형 자료형의 각각의 값(element)을 하나의 값(element)으로 넣어주게 된다 (언패킹)
그러므로 print(*a)의 의미는 사실 print(a[0],a[1],a[2])으로 나타나게 된다. 

"""
"""
첫번째 예제에서는 a를 언패킹하므로 결과가 1,2,3 형택로 나온다. 반면, 두번째 예제에서는 a를 언패킹 하지 않고 튜플형식으로 출력되었다. 
"""

1 2 3

In [34]:
dic ={'name':'kim', 'age':30}
print(*dic)  #key값만 나옴  
    #*를 2개 넣으면   언패킹되어서 name='kim', age=30          
    #print에 name이라는 인자가 들어올 수 없음. print는 내가 만든것이 아니어서 // name이라는 아이가 없다라고 에러뜸

name age

In [13]:
#9. 다음 코드의 실행 결과

date_info = {'year':"2019", 'month':"9", 'day':"6"}
result = "{year}-{month}-{day}". format(**date_info)
result


#결과: '2019-9-6'

'2019-9-6'

In [60]:
#10. n개의 벡터(리스트나 튜플, 셋등)의 크기가 동일한지 확인하는 함수 vector_size_check 를한 줄의 코드(리스트 컴프리헨션)로 작성

#_,_  
#list두개, 2개 크기가 같으면 true / 다르면 false
#step1

def vector_size_check (*vector_variables):
    return [len(vector)for vector in vector_variables] # 하나 하나가 출력 

vector_size_check([1,2,3],[10,12,13])   #갯수가 같으면 set으로 하면 하나밖에 안나옴   length가 1이면 true return 

 ###########복습 ########################################

[3, 3]

In [58]:
#10. n개의 벡터(리스트나 튜플, 셋등)의 크기가 동일한지 확인하는 함수 vector_size_check 를한 줄의 코드(리스트 컴프리헨션)로 작성

#_,_  
#list두개, 2개 크기가 같으면 true / 다르면 false
#step2
def vector_size_check (*vector_variables):
    return  len(     set([len(vector)for vector in vector_variables])    )==1 # 하나 하나가 출력 


vector_size_check([1,2,3],[1,2,3],[10,1])   #갯수가 같으면 set으로 하면 하나밖에 안나옴   length가 1이면 true return 
 ###########복습 ########################################

False

In [59]:
#10  step3

print(    vector_size_check([1,2,3],(10,12,30), {'name':'김','age':30, 'add':'신촌'})    )
print(     vector_size_check ([1,2,3],[10,12,13,14])    )

# print  #len==3, len==3
# 밑 len 다르다


 ###########복습 ########################################

True
False

In [40]:
#11 다음과 같은 결과를 얻기 위해 하나의 스칼라값을 '리스트나 튜플, 셋등 벡터에 곱하는 코드'를작성하시오.
#(단 입력되는 벡터의 크기는 일정하지 않음)

# scalar_vector_product (5,[1,2,3,4])
#[5,10,15,20]

def scalar_vector_product(num,vector):
    return[num*i for i in vector]

scalar_vector_product (5,[1,2,3,4])

[5, 10, 15, 20]

# 연습 문제 part 2

In [47]:
#1 음은 위치(loc)에 따라 그룹(group)이 결정되는 사상(mapping)과정을 리스트로 구현한 프로그램입니다. 출력결과를 쓰세요.
def mapping(addr):
    table = [1,2,5,9,6,4,0,3,8,7]
    return table [addr//SIZE]
SIZE = 20
group = [9,8,7,6,5,4,3,2,1,0]
loc = [127, 64, 188]
for a, b in enumerate(loc):
    print(group[mapping(loc[a])], end=' ') 









"""
loc[a] == 127
나누면 6  --> mapping(loc[a]) ==0  따라서 9가 출려됨

a가 1 이됨
loc [1] == 64 ==> 64/20 =3  --> mapping(loc[a]) =9  -->group 9번방은 0 

a가2
loc[a] == 188
188/20 =9 --> 9번째방이 7  -->   mapping(loc[a]) =7 --> group 9번방은 2


"""

9 0 2

'\nloc[a] == 127\n나누면 6  --> mapping(loc[a]) ==0  따라서 9가 출려됨\n\na가 1 이됨\nloc [1] == 64 ==> 64/20 =3  --> mapping(loc[a]) =9  -->group 9번방은 0 \n\na가2\nloc[a] == 188\n188/20 =9 --> 9번째방이 7  -->   mapping(loc[a]) =7 --> group 9번방은 2\n\n\n'

In [66]:
#2 

a=10
def sub():
    global a 
    a+=1      #a라는 지역변수 선언한적이 없어. 따라서 위에다 'global a' 추가
    print(a, end=' ')
    
def func():
    for i in range(2):          # :를 추가 !!
        a=5
        a+=1
        print(a, end='')
        sub()
a+=1
func()

############################ 복습 #############################

612 613

In [50]:
#3 다음 구문을 실행한 결과는

var = 100
def func(var):
    var = 200
func(var)
print(var)

100

In [53]:
#4. 다음 구문의 실행 결과는
def my_func(func, *args):
    return func(*args)

import numpy as np
my_func(np.add, 2, 3)

5

In [54]:
#5 다음 구문의 실행결과는    
def my_func(func, *args):
    return func(*args)

my_func(lambda a, b : a**b, 3, 2)

9

In [ ]:
#6. 파이썬 함수에 대한 설명 중 잘못된 것은?
#① 파이썬의 함수는 중복 정의해 사용할 수 있다. (x) --> 파이썬에서 중복정의 불가능 
#② 파이썬의 함수 매개변수는 기본값을 가질 수 있다.
#③ **args 형식의 매개변수가 있으면 키워드 인수는 딕셔너리 형식으로 받는다.
#④ 함수를 호출할 때 매개변수 이름이 없는 인수는 매개변수 이름이 있는 인수보다 앞에 와야 한다.

In [ ]:
#7. 다음과 같은 구문이 있을 경우 오류가 발생하는 함수 호출은?
"""

4번
빈리스트가 a로 들어감.  둘다 선언해야 
"""

In [ ]:

#8
lamda

#9  
답: 2번    #pairs.sort(*, key=None, reverse=False) 오름차순  ??
    a,b,c,d순으로 sort
    
################복습 ###################