
- **2. "전국 평균 평당 분양가격(2013년 9월부터 2015년 8월까지)"    ①  df_first**
    - **“주택도시보증공사_전국 신규 민간아파트 분양가격 동향”       ①  df_last**

In [11]:
import pandas as pd
df_first= pd.read_csv('data/전국 평균 평당 분양가격(2013년 9월부터 2015년 8월까지).csv', encoding='cp949')  #엑셀로 열린다 cp949
df_first.head()

,지역,2013년12월,2014년1월,2014년2월,2014년3월,2014년4월,2014년5월,2014년6월,2014년7월,2014년8월,...,2014년11월,2014년12월,2015년1월,2015년2월,2015년3월,2015년4월,2015년5월,2015년6월,2015년7월,2015년8월
0,서울,18189,17925,17925,18016,18098,19446,18867,18742,19274,...,20242,20269,20670,20670,19415,18842,18367,18374,18152,18443
1,부산,8111,8111,9078,8965,9402,9501,9453,9457,9411,...,9208,9208,9204,9235,9279,9327,9345,9515,9559,9581
2,대구,8080,8080,8077,8101,8267,8274,8360,8360,8370,...,8439,8253,8327,8416,8441,8446,8568,8542,8542,8795
3,인천,10204,10204,10408,10408,10000,9844,10058,9974,9973,...,10020,10020,10017,9876,9876,9938,10551,10443,10443,10449
4,광주,6098,7326,7611,7346,7346,7523,7659,7612,7622,...,7752,7748,7752,7756,7861,7914,7877,7881,8089,8231

In [9]:
df_first.isnull().sum()

지역          0
2013년12월    0
2014년1월     0
2014년2월     0
2014년3월     0
2014년4월     0
2014년5월     0
2014년6월     0
2014년7월     0
2014년8월     0
2014년9월     0
2014년10월    0
2014년11월    0
2014년12월    0
2015년1월     0
2015년2월     0
2015년3월     0
2015년4월     0
2015년5월     0
2015년6월     0
2015년7월     0
2015년8월     0
dtype: int64

In [12]:
df_last= pd.read_csv('data/주택도시보증공사_전국 신규 민간아파트 분양가격 동향_20210215.csv', encoding='cp949') 
df_last.head()

  지역명               규모구분    연도   월 분양가격(㎡)
0  서울               모든면적  2015  10    5841
1  서울         전용면적 60㎡이하  2015  10    5652
2  서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3  서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4  서울        전용면적 102㎡초과  2015  10    5879

**3. df_last의 데이터 결측치를 확인하고 대체할지 고민한다. (대체)**

In [27]:
df_last.isnull().sum()

지역명          0
규모구분         0
연도           0
월            0
분양가격(㎡)    522
평당분양가격     522
dtype: int64

In [26]:
df_last.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5440 entries, 0 to 5439
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   지역명      5440 non-null   object
 1   규모구분     5440 non-null   object
 2   연도       5440 non-null   int64
 3   월        5440 non-null   int64
 4   분양가격(㎡)  4918 non-null   float64
 5   평당분양가격   4918 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 255.1+ KB

In [25]:
#결측치를 '평균'으로 채움
df_last.fillna(     value = df_last.mean()         )

     지역명               규모구분    연도   월      분양가격(㎡)        평당분양가격
0     서울               모든면적  2015  10  5841.000000  19275.300000
1     서울         전용면적 60㎡이하  2015  10  5652.000000  18651.600000
2     서울   전용면적 60㎡초과 85㎡이하  2015  10  5882.000000  19410.600000
3     서울  전용면적 85㎡초과 102㎡이하  2015  10  5721.000000  18879.300000
4     서울        전용면적 102㎡초과  2015  10  5879.000000  19400.700000
...   ..                ...   ...  ..          ...           ...
5435  제주               모든면적  2021   1  5199.000000  17156.700000
5436  제주         전용면적 60㎡이하  2021   1  4686.000000  15463.800000
5437  제주   전용면적 60㎡초과 85㎡이하  2021   1  5203.000000  17169.900000
5438  제주  전용면적 85㎡초과 102㎡이하  2021   1  3378.871899  11150.277267
5439  제주        전용면적 102㎡초과  2021   1  3378.871899  11150.277267

[5440 rows x 6 columns]

In [ ]:
df_last

**4.df_last 데이터셋에 평당분양가격 컬럼을 추가한다.(apply이용해서 ‘전용면적빼’)**

In [19]:
df_last["분양가격(㎡)"] = pd.to_numeric( df_last["분양가격(㎡)"],  errors="coerce" )

In [20]:
df_last["평당분양가격"] = df_last["분양가격(㎡)"] * 3.3

**5. df_last 데이터셋에서 전용면적 컬럼을 추가한다(아래와 같이 규모구분 컬럼을 이용한다)**

In [ ]:
split

In [31]:
#'전용 면접' 없앰
df_last["전용면적"] = df_last["규모구분"].apply(    lambda x:  str(x.split("전용면적") [1] )     )

IndexError: list index out of range

In [30]:
df_last.head(5)

  지역명               규모구분    연도   월  분양가격(㎡)   평당분양가격  전용면적
0  서울               모든면적  2015  10   5841.0  19275.3  모든면적
1  서울         전용면적 60㎡이하  2015  10   5652.0  18651.6
2  서울   전용면적 60㎡초과 85㎡이하  2015  10   5882.0  19410.6
3  서울  전용면적 85㎡초과 102㎡이하  2015  10   5721.0  18879.3
4  서울        전용면적 102㎡초과  2015  10   5879.0  19400.7

In [ ]:
#'이하' 없앰

In [ ]:
# '초과'를 '~'로 대체  
df_last["전용면적"] = df_last["규모구분"].apply(    lambda x:  str(x.split("전용면적") [0].replace ( "초과", "~"  ) )   )

In [22]:
df_last.loc[:, ["규모구분":"전용면적"] ]

SyntaxError: invalid syntax (<ipython-input-22-174d314836e0>, line 1)

- **6. 메모리 사용량을 줄이기 위해 사용하지 않을 컬럼은 제거한 후(df_last.drop([‘규모구분’,’분양가격((㎡)’], axis=1 이용), 메모리 사용량을 전후로 확인한다.**

In [ ]:
#index를 column으로 만든     log로 만들어서 concat으로 작업

In [ ]:
1. df_last.drop(["규모구분","분양가격(㎡)"], axis=1 )

- **7. GroupBy(unstack()함수 이용) vs. pivot_table** <br>

① 지역별 데이터 수 (count)

In [ ]:
df_last_grouped = df_last.groupby(df_first["지역명"])

In [ ]:
df_last_grouped[ '       '  ].count()

② 지역별 평당분양가격 (평균)      (avg)

③ 전용면적별 평당분양가격(평균)

④ 지역별, 전용면적별 평당분양가격 (평균)

⑤ 연도, 지역별 평당분양가격(평균) – 힌트:unstack()